<h1 id="title"> <img src="assets/img/icon-logo-fixed.png" id="logo-img" alt="title logo">Mirabelle</h1>
<div id="nav-bar">
    <nav id="nav-bar-left">
        <app-toggle-light-mode></app-toggle-light-mode>
        <app-nav-link link="home" icon_class="fa-home" content=" Home"></app-nav-link>
        <app-nav-link link="products" icon_class="fa-box" content=" Products"></app-nav-link>
        <app-nav-link link="about" icon_class="fa-info-circle" content=" About"></app-nav-link>
    </nav>

    <nav id="nav-bar-right">
        <div *isLoggedIn="false">
            <app-nav-link link="login" icon_class="fa-sign-in-alt" content=" Sign In"></app-nav-link>
            <app-nav-link link="registration" icon_class="fa-user-plus" content=" Sign Up"></app-nav-link>
        </div>
        <div *isLoggedIn="true">
            <div id="cart-container">
                <p id="cart-icon" class="bg inverted" [ngStyle]="{'display': cartService.isCartEmpty() ? 'none' : 'block' }"> {{ cartService.getCartLength() }} </p>
                <app-nav-link link="cart" icon_class="fa-shopping-cart" content=" Cart"></app-nav-link>
            </div>
            <app-nav-link link="account" icon_class="fa-user" content=" Account"></app-nav-link>
        </div>
    </nav>
</div>
<app-search-bar></app-search-bar>