@import '../../../../styles/styles.scss';

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $std-margin;
    padding-bottom: $std-padding;

    @extend .show-panel;
}

#nav-bar {
    width: inherit;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0% $std-margin;
    gap: $std-gap * 2;
    margin-bottom: $std-margin;
}

#nav-bar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: $std-gap * 2;
}

#nav-bar-right div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: $std-gap * 4;
}

@media screen and (max-width:700px) {
    #nav-bar {
        flex-direction: column;
        justify-content: left;
        gap: 5px;
    }

    #nav-bar * {
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    #nav-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #nav-bar-left {
        flex-direction: column;
        gap: 5px;
    }

    #nav-bar-right div {
        flex-direction: column;
        gap: 5px;
    }
}