<header>
    <h1 id="title">Mirabelle</h1>

    <div id="nav-bar">
        <nav id="nav-bar-left">
            <a routerLink="">Home</a>
            <a routerLink="/products">Products</a>
            <a routerLink="/about">About</a>
        </nav>
        
        <nav id="nav-bar-right">
            <div *isLoggedIn="false">
                <a routerLink="/login">Sign In</a>
                <a routerLink="/registration">Sign Up</a>
            </div>
            <div *isLoggedIn="true">
                <a routerLink="/cart">Cart</a>
                <a routerLink="/account">Account</a>
            </div>
        </nav>
    </div>
    <app-search-bar></app-search-bar>
</header>