// .main-content {
//     z-index: 1;
//     box-sizing: border-box;
// }

#content-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
}

#main-content {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top-of-page {
    height: 0;
    width: 0;
    visibility: hidden;
}
