<div class="card-container">
    <img class="product-img" src="assets/img/icon-logo-fixed.png">
    <div class="card-field information-field">
        <h3>{{product.name}}</h3>
        <p> {{product.short_description}}</p>
    </div>
    <p class="card-field"> {{ product.price | currency:'EUR':'symbol' }}</p>
    <div class="quantity-container">
        <button (click)="decreaseItemQuantity()"><i class="fas fa-minus"></i></button>
        <p class="card-field"> {{ cartItem.quantity }}</p>
        <button (click)="increaseItemQuantity()"><i class="fas fa-plus"></i></button>
    </div>
    <p class="card-field"> {{ cartItem.quantity * product.price | currency:'EUR':'symbol' }}</p>
    <button (click)="removeCartItem()"><i class="fas fa-x"></i></button>
</div>

<hr>