@import '../../../../../styles/styles.scss';

.input-container {
    flex:1;
    position: relative;
    display: flex;

    label {
        pointer-events: none;
        position: absolute;
        top: 5px;
        left: 10px;
        transition: font-size 0.3s, left 0.3s, top 0.3s;
    }

    label.filled {
        font-size: calc($font-size-normal*0.75);
        top: -20px;
        left: 20px;
    }

    input,
    select {
        flex:1;
        height: $font-size-normal * 2;
    }
}