@import '../../../../../styles/styles.scss';

:host {
    display: block;
    width: 300px;
    transition: width 0.3s;
    &:hover,
    &:focus {
        width: 400px;
    }
}
.input-container {
    flex:1;
    position: relative;
    display: flex;

    label {
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        transition: font-size 0.3s, left 0.3s, top 0.3s;
    }

    label.filled {
        font-size: calc($font-size-normal*0.75);
        top: -20%;
        left: 20px;
    }

    select {
        flex:1;
        height: $font-size-normal * 2;
    }
}