@mixin flex-column-center {
    @extend .flex-center-center;
    flex-direction: column;
}

@mixin flex-row-center {
    @extend .flex-center-center;
    flex-direction: row;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}