<section id="selling-section">
    <section id="image-gallery-section">
        <section id="image-selection-gallery">
            <button type="button" class="select-image-button">
                <img>
            </button>
        </section>
        <img id="main-product-image">
    </section>
    <section id="product-information-section">
        <h2 id="product-name">
            {{ product.name }}
        </h2>
        <div id="product-sd-p-container">
            <div>
                <h3 id="product-short-description">
                    Product short description

                </h3>
                <p>
                    {{ product.short_description }}
                </p>
            </div>
            <h3 id="product-price">
                32.99€
            </h3>
        </div>

        <h3 id="product-stock">
            Current stock:
        </h3>
        <product-current-stock [stock]="product.stock"></product-current-stock>
        <section id="buying-section">

            <form id="quantity-form" [formGroup]="quantityForm" ngSubmit="onSubmit()">
                <label for="quantity">Quantity: </label>
                <select fomrControlName="quantity" id="select-quantity-dropdown">
                    <option *ngFor="let i of generateStockArray(product.stock)" [value]="i">{{ i }}</option>

                </select>
                <button type="submit" (click)="onSubmit()">ADD TO CART</button>
            </form>
        </section>
    </section>

</section>
<div id="product-information-container">
    <h3 id="product-desciption">
        Product description
    </h3>
    <p>
        {{ product.description }}
    </p>
</div>
<h2 id="you-may-also-like">You may also like...</h2>
<section id="similar-products-section">
    <button type="button">
        <i class="fas fa-play" style="transform: rotate(180deg);"></i>
    </button>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <product-card></product-card>
    <button type="button">
        <i class="fas fa-play"></i>
    </button>
</section>