<mat-accordion>
    <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header >
            <mat-panel-title>
                What payment methods do you accept?
            </mat-panel-title>
            <mat-panel-description>
                Payment options for your convenience.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>We accept major credit cards (Visa, MasterCard, American Express), PayPal, and bank transfers for your
                convenience.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I track my order?
            </mat-panel-title>
            <mat-panel-description>
                Stay updated on your order status.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>Once your order is shipped, you will receive an email with a tracking number and a link to track your
                shipment.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                What is your return policy?
            </mat-panel-title>
            <mat-panel-description>
                Understanding our return process.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>We offer a 30-day return policy on most items. If you're not satisfied, you can return your product for a
                full refund, provided it is in its original condition.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Do you ship internationally?
            </mat-panel-title>
            <mat-panel-description>
                Availability of international shipping.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>Yes, we ship to many countries worldwide. Shipping fees and delivery times vary based on the destination.
            </p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I contact customer support?
            </mat-panel-title>
            <mat-panel-description>
                Get assistance when you need it.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>You can reach our customer support team via email at mirabelle-shop&#64;outlook.de or by using the
                contact form on our website.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                What should I do if I receive a damaged item?
            </mat-panel-title>
            <mat-panel-description>
                Steps to take if your order is not as expected.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>If you receive a damaged item, please contact our customer support team within 48 hours, and we will
                assist you in resolving the issue.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Can I change my order after it has been placed?
            </mat-panel-title>
            <mat-panel-description>
                Modifying orders once they're submitted.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>Unfortunately, once an order is placed, we cannot modify it. However, you can cancel your order within 1
                hour of placing it and reorder.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How do I know if an item is in stock?
            </mat-panel-title>
            <mat-panel-description>
                Checking product availability.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>Our website is updated in real-time. If an item is available for purchase, it is in stock.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                What happens if my order is lost in transit?
            </mat-panel-title>
            <mat-panel-description>
                Resolving shipping issues.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p> If your order does not arrive within the estimated delivery time, please contact us, and we will
                investigate the issue with the carrier.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How often do you restock items?
            </mat-panel-title>
            <mat-panel-description>
                Understanding our inventory management.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>We typically restock items based on demand. If an item is out of stock, you can sign up for notifications
                to be informed when it becomes available again.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                What is your privacy policy?
            </mat-panel-title>
            <mat-panel-description>
                Your information is safe with us.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>We take your privacy seriously. Please review our Privacy Policy page for details on how we collect, use,
                and protect your information.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Can I use multiple discount codes on one order?
            </mat-panel-title>
            <mat-panel-description>
                Clarifying discount code usage.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>Unfortunately, only one discount code can be applied per order. Make sure to use the one that gives you
                the best savings!</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How do I unsubscribe from your newsletter?
            </mat-panel-title>
            <mat-panel-description>
                Managing your email preferences.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>You can unsubscribe at any time by clicking the “unsubscribe” link at the bottom of our newsletters.</p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                How can I change my account information?
            </mat-panel-title>
            <mat-panel-description>
                Updating your profile easily.
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>Log in to your account, go to the "Account Settings" section, and you can update your information there.
            </p>
        </div>
    </mat-expansion-panel>
   <mat-expansion-panel class="border-box show-panel-highlight">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Do you sell Mirabelle fruits?
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="show-panel">
            <p>No. Stop asking.</p>
        </div>
    </mat-expansion-panel>
</mat-accordion>