<nav class="navbar show-panel">
    <ul class="menu ">
      <li class="menu-item border-box">
        <p>
          Accessories
        </p>
        <ul class="dropdown left border-box">
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Bags')">Bags</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('KeyChains')">Key Chains</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Stand')">Stands</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Lanyard')">Lanyards</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Desk')">Desk</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Homeware')">Homeware</li>
        </ul>
      </li>
      <li class="menu-item border-box">
        <p>
          Apparel
        </p>
        <ul class="dropdown left border-box">
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Hoodies')">Hoodies</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Shirts')">Shirts</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Hats')">Hats</li>
        </ul>
      </li>
  
      <li class="menu-item border-box" (click)="selectingOption('')">
        <p>
          All
        </p>
      </li>
      <li class="menu-item border-box">
        <p>
          Collectibles
        </p>
        <ul class="dropdown right border-box">
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Posters')">Posters</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Pin Sets')">Pin Sets</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Stickers')">Stickers</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Plushies')">Plushies</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Figures')">Figures</li>
        </ul>
      </li>
      <li class="menu-item border-box">
        <p>
          Media
        </p>
        <ul class="dropdown right border-box">
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('VideoGames')">Videogames</li>
          <li class="dropdown-item show-panel-highlight" (click)="selectingOption('Books')">Books</li>
        </ul>
      </li>
    </ul>
  </nav>