@import '../../../styles/styles.scss';


:host {
    @include flex-column-center();
}


#registration-form {
    @include flex-column-center();
    gap: 1rem;
}

.form-div {
    display: flex;
    width: 500px;
}

.form-label {
    justify-self: left;
    width: 200px;
}

.form-input {
    justify-self: right;
    width: 250px;
}

.top-margin {
    margin-top: 10px;
}