<footer>
    <section id="bottom-interactions">
        <address>
            <h1>Contact us:</h1>
            <p id="email-contact">E-Mail: </p><a href="mailto:mirabelle-shop@outlook.de">Customer Service</a>
        </address>
        <form [formGroup]="newsletterForm" (ngSubmit)="subscribeToNewsletter()">
            <h1>Subscribe to the newsletter</h1>
            <div>
                <label for="email">E-mail: </label>
                <input id="email-newsletter" formControlName="email" />
            </div>
            <button id="newsletter-sign-up" type="submit">Subscribe</button>
            <div *ngIf="showMessage" class="success-message fade-in">
                {{ successMessage }}
            </div>
        </form>
        <div>
            <h1>Help:</h1>
            <a routerLink="/faq">FAQ</a>
        </div>
    </section>
    <section id="bottom-links">
        <a routerLink="/" id="copy-right-link">&copy; 2024, Mirabelle GbR</a>
    </section>
</footer>