@import '../../../../styles/styles.scss';

:host {
    background-color: black;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

#bottom-interactions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#email-contact {
    display: inline;
}

#email-newsletter {
    display: inline;
    width: 100%;
    font-size: 12px;
}

#bottom-links {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-small;
}

#copy-right-link {
    text-decoration: none;
}

#newsletter-sign-up {
    margin-top: 10px;
    font-size: small;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-message {
    position: absolute;
    left:55%;
    bottom:55%;
    padding: 0px 10px;

    text-align: center;
    background-color: $success-background;
    border: solid 2px $success-border;
    border-radius: 15px;
    color: $success-text;
    // transition: opacity 0.5s ease-in-out;

    // &.fade-in {
    //     opacity: 1;
    // }

    // &.fade-out {
    //     opacity: 0;
    // }
}


@media screen and (max-width: 750px) {
    #bottom-interactions {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #email-newsletter {
        width:auto;
        margin: 0px 8px;
    }
}
