@import '../../variables';

button {
    border-radius: $std-border-radius-circle;
}

button:hover {
    filter: invert(1);

    img,
    video {
        filter: invert(1);
    }

    .no-inver {
        filter: invert(1);
    }
}

input,
select {
    border: solid 1px;
    border-radius: $std-border-radius;
    padding-left: $std-padding;
}

label i {
    color: red;
}

