<app-search-carousel
  [current_page_index]="current_page_index"
  [maximum_page_index]="maximum_page_index"
  (pageChanged)="handlePageChange($event)"
  *ngIf="maximum_page_index > 1">
</app-search-carousel>

<div class="flex-product-container full-size">
  <product-card
    *ngFor="let product of filteredProducts"
    [product]="product">
  </product-card>
</div>

<app-search-carousel
  [current_page_index]="current_page_index"
  [maximum_page_index]="maximum_page_index"
  (pageChanged)="handlePageChange($event)">
</app-search-carousel>
