@import '../../../styles/styles.scss';

:host {
    margin: 20px auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.flex-product-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:8px;
}
