$background-least-important: hsl(230,5%,2%);
$background-less-important: hsl(230,10%,3%);
$background-normal: hsl(230,20%,10%);
$background-more-important: hsl(230,20%,10%);
$background-most-important: hsl(230,30%,15%);

$background-most-important-solid: hsl(230,10%,15%,100%);

$button-background: black;
$button-background-hover: hsl(230,40%,90%);
$button-color: hsl(230,40%,95%);
$button-color-hover: invert(hsl(230,40%,95%));

$text-less-important: hsl(230,20%,50%);
$text-normal: hsl(230,30%,70%);
$text-more-important: hsl(230,40%,90%);
$text-most-important: hsl(230,40%,95%);

$link-normal: lighten(saturate($text-normal, 30%),10%);
$link-hover: lighten(saturate($text-more-important, 30%),10%);
$link-active: lighten(saturate($text-less-important, 30%),10%);

$success-background:hsla(80,100%,95%,100%);
$success-border:hsla(90,50%,50%,100%);
$success-text:hsla(120,80%,50%,100%);

$text-size: 12px;
$h1-size: 36px;
$h2-size: 24px;
$h3-size: 20px;
$h4-size: 18px;
$h5-size: 16px;
$h6-size: 14px;

$border-normal-size: 3px;
$border-normal-color: hsla(200,20%,40%,50%);
$border-normal-radius: 20px;
$border-normal-style: solid;

$border-focused-color: hsla(200,20%,90%,50%);

$input-field-color: #3b3b3b;