@import './_variables';

.border-box {
  border: 1px solid;
  border-radius: $std-border-radius;
}

.light-mode {
  color: $light-text;
  background-color: $light-bg;

  button {
    background-color: $light-bg;
    color: $light-text;
  }

  .show-panel {
    background-color: $light-panel;
  }

  .show-panel-highlight {
    background-color: $light-bg;
  }

  .border-box {
    color: $light-text;
    background-color: $light-bg;
    border-color: $light-border;
  }

}

.dark-mode {
  color: $dark-text;
  background-color: $dark-bg;

  button {
    background-color: $dark-bg;
    color: $dark-text;
  }

  .show-panel {
    background-color: $dark-panel;
  }

  .show-panel-highlight {
    background-color: $dark-bg;
  }


  .border-box {
    color: $dark-text;
    background-color: $dark-bg;
    border-color: $dark-border;
  }
}


.show-panel-highlight:hover {
  filter:invert(1);

  img,
  video {
    filter: invert(1);
  }

  .no-invert {
    filter: invert(1) !important;
  }
}