@import './_variables';

.light-mode {
  color: $light-text;
  background-color: $light-bg;

  .show-panel {
    background-color: $light-panel;
  }

  .show-panel-highlight {
    background-color: $light-bg;
  }

  .show-panel-highlight:hover {
    filter: invert(1);
  }

}

.dark-mode {
  color: $dark-text;
  background-color: $dark-bg;

  .show-panel {
    background-color: $dark-panel;
  }

  .show-panel-highlight {
    background-color: $dark-bg;
  }
  
  .show-panel-highlight:hover {
    filter: invert(1);
  }
}