<div class="login-container">
    <h1>Login</h1>
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input-email [formGroup]="loginForm" input_id="email" label_text="E-mail" [is_important]="true" ></input-email>
        <input-password [formGroup]="loginForm" input_id="password" label_text="Password" [is_important]="true"></input-password>
            <button type="submit">Sign In</button>
    </form>

    <a class="top-margin txt-wrap" routerLink="/password-reset">Forgot password?</a>
    <a class="top-margin txt-wrap" routerLink="/registration">No account yet? Register here</a>
</div>