<h1>Login</h1>
<form id="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input class="form-input" id="login-email" formControlName="email" placeholder="E-mail:" />

    <input class="form-input" id="login-password" type="password" formControlName="password" placeholder="Password:" />

    <app-sign-in-button (buttonClick)="onSubmit()"></app-sign-in-button>
</form>

<a class="top-margin txt-wrap" routerLink="/password-reset">Forgot password?</a>
<a class="top-margin txt-wrap" routerLink="/registration">No account yet? Register here</a>