<footer>
    <section id="bottom-interactions">
        <address>
            <h1>Contact me:</h1>
            <p id="email-contact">E-Mail: </p><a href="mailto:holzersociety@outlook.com">Nikita Korman</a>
        </address>
        <form>
            <h1>Subscribe to the newsletter</h1>
            <div>
                <label for="email">E-mail:</label>
                <input id="email-newsletter" formControlName="email" />
            </div>
            <button id="newsletter-sign-up" type="submit">Sign Up</button>
        </form>
        <div>
            <h1>Help:</h1>
            <a routerLink="/faq">FAQ</a>
            
        </div>
    </section>
    <section id="bottom-links">
        <a routerLink="/" id="copy-right-link">&copy; 2024, Nikita Korman</a>
    </section>
</footer>