footer {
    display: flex;
    flex-direction: column;
}

#bottom-interactions {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#email-contact {
    display:inline;
}

#bottom-links {
    margin-top:10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: x-small;
}

#copy-right-link {
    text-decoration: none;
}

#newsletter-sign-up {
    margin-top: 10px;
}