@import '../../../../../styles/styles.scss';

:host {
    width: 50%;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search-button {
    position: absolute;
    left: -10px;
    z-index: 1;
    font-size: $font-size-normal;
    height: $font-size-normal * 2;
}

#search-bar {
    width: 100%;
    padding-left: 40px;
    height: $font-size-normal * 2;
}