@import '../../../../styles/styles.scss';

:host {
    width: 400px;
    height: 400px;

    background-color: $background-most-important-solid;

    border: $border-normal-size;
    border-color: $border-normal-color;
    border-radius: $border-normal-radius;
    border-style: $border-normal-style;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-img {
    height: 300px;
}
.product-heading {
    align-self: center;
}
.product-description {
    padding-left: 5%;
}
.product-price {
    align-self: flex-end;
    padding-right: 5%;
}